// compileCompressed:../css/style.min.css

@import "_mixin";
@import "bootstrap/_variables";
@import "bootstrap/_mixins";

$green: #00923f;
$yellow: #fff212;

.topbar{
  height: 3.375rem;
}

.sidebar{
  background: $green;
  color: $yellow !important;
  .sidebar-brand{
    color: inherit;
  }
  .nav-item.active .nav-link,.nav-item.active .nav-link i{
    color: $yellow !important;
  }
  .nav-item .nav-link{
    @include hover{
      color: $yellow !important;
      i{
        color: $yellow !important;
      }
    }
  }
}
div.wrapper{
  margin-left: -30px;
  margin-right: -30px;
}
.frontpage{
  width: 100%;
  height: 100vh;
  padding: 30px 0;
  background: url('../img/pegawai.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  @include mobile{
    height: 100%;
  }
  @include valign;
  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($green,.65);
  }
  &.search-result{
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    &:before{
      z-index: 1;
      background: rgba(#fff,.9);
    }
  }
  .btn-login{
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 30px;
    color: $yellow;
  }
  .container{
    font-weight: bold;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: $yellow;
    position: relative;
    .btn-usulan{
      margin-top: 10px;
      padding: 10px 75px;
      border-radius: 30px;
      color: #000;
      font-weight: bold;
    }
    .form-search{
      padding: 30px 300px;
      @include mobile{
        padding: 30px 15px;
      }
    }
  }
  .container-search{
    position: relative;
    z-index: 3;
    color: #3f3f3f;
    .page-header{
      width: 100%;
      padding: 10px 30px;
      background: #fff;
      border-bottom: solid 3px $green;
      box-shadow: 1px 0 5px #555;
      a{
        text-decoration: none;
      }
      .title{
        padding: 0;
        margin: 0;
        color: $green;
      }
      .logo{
        width: 43px;
        float: left;
        margin-right: 15px;
      }
    }
    .wrapper{
      width: 100%;
      margin: 0;
      padding: 15px;
    }
    .footer{
      padding: 15px;
    }
  }
}
.label{
  font-size: 0.7em;
  padding: 3px 10px;
  border-radius: 5px;
  color: #fff;
}
.captcha img{
  margin-bottom: 5px;
}
.nav-item{
  .collapse{
    z-index: 5 !important;
  }
}
.bg-login-image{
  background-size: 75% 75% !important;
}
.w-notif{
  padding: 5px 15px;
  border-radius: 0;
  margin-top: -6px;
  margin-bottom: 30px;
}
input[type='file'].form-control{
  padding: 3px;
}
